
@import '../../../common/styles/index';

.artist {
  display: table;
  margin: 0 auto;
  margin-bottom: em(20);

  img {
    max-width: 100%;
    padding-bottom: em(5);
  }

  .title {
    font-size: em(16);
    line-height: em(24);
    display: block;
    color: $artist-title-color;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    max-width: em(250);
  }

  .description {
    font-size: em(12);
    line-height: em(24);
    color: $artist-description-color;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    max-width: em(250);
  }
}
